@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Link to <a href="https://github.com/stud-orosz/Orosz_Gyozo_Lab2" target="_blank">GitHub</a>.</p>
</div>
