@page
@model IndexModel
@{
    ViewData["Title"] = "Bun venit";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Link to <a href="https://learn.microsoft.com/aspnet/core">GitHub</a>.</p>
</div>
